*{
 padding: 0%;
 margin: 0%;
 box-sizing: border-box;

}
.nav_bar{
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px;
}
body {
 color: rgb(0, 0, 0);
 background-color: rgb(255, 255, 255);
 text-align: center;
 justify-content: center;
}
.dark-mode {
 background-color: black;
 color: white;
}
.light-mode {
 background-color: rgb(255, 255, 255);
 color: rgb(0, 0, 0);
}


.toggles{
 cursor: pointer;
}
  .ri-moon-fill{
display: none;
}
